.registerFormContainer {
  width: 100%;
}

.title {
  text-align: left;
  margin-bottom: 8px !important;
}

.subtitle {
  display: block;
  text-align: left;
  margin-bottom: 28px;
}

.registerButton {
  width: 100%;
  background-color: #FFD800;
  border: none;
  color: #000; 
  font-weight: bold;
}

.registerButton:hover {
  background-color: #e6c600 !important;
}