.loginFormContainer {
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: left;
  margin-bottom: 8px !important;
}

.subtitle {
  display: block;
  text-align: left;
  margin-bottom: 28px;
}

.forgotPassword {
  color: #FFC107;
  font-weight: 500;
}

.loginButton {
  width: 100%;
  background-color: #A9A9A9;
  border: none;
  font-weight: bold;
}

.loginButton:hover {
  background-color: #9a9a9a !important;
}