.formContainer {
  max-width: 900px;
}

.avatarUploader {
  text-align: center;
  margin-bottom: 24px;
}

.avatarActions {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.avatarUploader :global(.ant-upload-select) {
  background: none !important;
  border: none !important;
  width: auto !important;
  height: auto !important;
}